[Unit]
Description=PolicyKit authentication agent
After=graphical-session.target
PartOf=graphical-session.target
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/usr/lib/polkit-kde-authentication-agent-1
Restart=on-failure
RestartSec=2

[Install]
WantedBy=graphical-session.target
