[Unit]
Description=Mount the VMware shared folder
After=graphical-session-pre.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash -c 'mkdir -p "$HOME/vmware-share"; mountpoint -q "$HOME/vmware-share" || /usr/bin/vmhgfs-fuse ".host:/reklai" "$HOME/vmware-share"'
ExecStop=/usr/bin/fusermount3 -u %h/vmware-share

[Install]
WantedBy=default.target
